<!DOCTYPE html>
<html lang="en">
  {% load static %}

  {% include 'components/common/head.html' %}

  <body>
    <div>{% include 'components/common/navbar.html' %}</div>
    <main class="flex-shrink-0" id="contenido_container">
      <div class="container" style="width: 100%">
        <div class="row">
          <div class="col col-izq"></div>
          <div class="col-10 contenido-pagina">
            <h1 class="mt-5">Formulario de productos</h1>
            <div class="divider div-transparent"></div>
            <div class="container">
                <div style="margin-bottom: 20px;">
                    <a href="{% url 'productosadd' %}" class="btn btn-outline-primary">
                        <i class="fa-solid fa-circle-plus"></i>&nbsp;Nuevo producto
                    </a>
                  </div>
                  <table class="table table-striped table-hover">
                    <tr>
                      <th>Producto</th>
                      <th>Tipo</th>
                      <th>Precio</th>
                      <th>Oferta</th>
                      <th>Stock</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                    </tr>
                    {% for producto in productos %}
                    <tr>
                      <td>
                        {{ producto.nombre }} 
                      </td>
                      <td>{{ producto.tipo }}</td>
                      <td>{{ producto.precio }}</td>
                      <td>{{ producto.oferta }}</td>
                      <td>{{ producto.stock }}</td>
                      <td>
                        <a
                          href="{% url 'productosedit' pk=producto.id %}"
                          class="btn btn-outline-primary" role="button"
                        >
                        <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </td>
                      <td>
                        <a
                          href="{% url 'productosdel' pk=producto.id %}"
                          class="btn btn-outline-danger" role="button"
                        >
                        <i class="fa-solid fa-ban"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
            </div>
          </div>
          <div class="col col-der"></div>
        </div>
      </div>
    </main>
    <div>{% include 'components/common/footer.html' %}</div>
  </body>
</html>