<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col"><h5>Nuestras redes sociales</h5></div>
        <div class="col"><h5>Contacto</h5></div>
        <div class="col"><h5>Horario atención presencial</h5></div>
        <div class="col"><h5>Otros</h5></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col social">
          <div class="buttons">
            <a href="#" class="fb" title="Join us on Facebook"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a href="#" class="tw" title="Join us on Twitter"
              ><i class="fa-brands fa-x-twitter"></i
            ></a>
            <a href="#" class="insta" title="Join us on Instagram"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="#" class="in" title="Join us on Linked In"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <p><i class="fa-solid fa-envelope"></i> <a href="mailto:info@example.com">info@example.com</a></p>
          <p><i class="fa-brands fa-whatsapp"></i> +1234567890</p>
          <p><i class="fa-solid fa-shop"></i> Calle Ficticia, 123</p>
        </div>
        <div class="col">
          <p>Lunes a Viernes</p>
          <p>9am - 6pm</p>
          <p>Sábado y Domingo</p>
          <p>Cerrado</p></div>
        <div class="col"><p>Política de privacidad</p>
          <p>Términos y condiciones</p>
          <p>Preguntas frecuentes</p></div>
        <div class="col"></div>
      </div>
    </div>
  </footer>